.repo-container {
   margin: auto 0 0 auto;
   max-width: 75%;
   display: block;
   align-items: center;
   justify-content: center;
}

.repo-card {
    background-color: darkslateblue;
    border: 1px solid whitesmoke;
    color: white;
     margin: 5px 5px;
    border-radius: 10px;
    max-width: 70%; 
    margin: auto 5px 0 auto; 

 } 